body{
    background-color: #000428;
}
header h1{
    color: #fff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
    font-size: 3em;
}

section button{
    margin-top: 100px;
}

form{
    margin-top: 100px;
    text-align: center;
}

form input{
    width: 30%;
    height: 40px;
}

@media screen and (max-width: 767px){
    form input{
        width: 80%;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    form input{
        width: 80%;
    }
}